<%- include('./includes/admin-header') %>

  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap-5.2.0-dist/css/bootstrap5dataTables.min.css">
    <script type="text/javascript" language="javascript" src="/js/jquerydataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/bootstrap-5.2.0-dist/js/bootstrap5dataTables.min.js"></script>
    <script type="text/javascript">

      $(document).ready(function () {
        $('#messages').DataTable({
          "order": [[1, 'asc']],//order column in descending order.
          "columnDefs": [
            { "type": "date", "targets": [1] }//date column formatted like "03/23/2018 10:25:13 AM".
          ],
          "pageLength": 25,
          stateSave: true,
          stateSaveCallback: function (settings, data) {
            localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
          },
          stateLoadCallback: function (settings) {
            return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance))
          }
        });
      });
    </script>

  </head>

  <main id="main" class="main container mt-5">

    <section class="section dashboard">
      <div class="row">
        <div class="col-12">

          <div class="card recent-sales overflow-auto">


            <div class="card-body">
              <h5 class="card-title">Messages</h5>

              <table class="table table-borderless" id="messages">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Day received</th>
                    <th scope="col">Check Message</th>
                    <th scope="col">Reply</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(const message of messages) {%>
                        <tr>
                          <th scope="row">
                            <%= message.name %>
                          </th>
                          <td>
                            <%= message.email %>
                          </td>
                          <td>
                            <%= message.subject %>
                          </td>
                          <td>
                            <%= (message.created_at).toDateString() %>
                          </td>
                          <td><i class="bi bi-info-circle-fill text-warning" data-bs-toggle="modal"
                              data-bs-target="#statusModal"
                              onclick="$('#message p:last-child').remove(); $('#message').append('<p><%= message.message %></p>');"
                              style="font-size: 20px; cursor: pointer;"></i></td>
                              <% if (message.status == null) { %>
                                <td><b class="text-success"
                                  onclick="$('#email').val('<%= message.email %>'); $('#messageId').val('<%= message.id %>'); $('#name').val('<%= message.name %>')"
                                  style="font-size: 30px; cursor: pointer;"><i class="bi bi-reply" data-bs-toggle="modal"
                                  data-bs-target="#replyModal"></i></b>
                                </td>
                                <% } else{%>
                              <td class="text-success" style="font-size: 20px;"><i class="bi bi-check2-all"
                                  data-bs-toggle="tooltip" data-bs-placement="top" title="Replied"></i></td>
                              <% } %>
                        </tr>
                        <% } %>
                </tbody>
              </table>

            </div>

          </div>

        </div>

      </div>



    </section>

  </main><!-- End #main -->

  <div class="modal fade" id="statusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3" id="message">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="replyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="replyModalLabel">Reply message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <form action="/admin/reply/message" method="post">
          <div class="modal-body">
            <div class="mb-3">
              <input type="hidden" name="email" class="form-control" id="email">
              <input type="hidden" name="name" class="form-control" id="name">
              <input type="hidden" name="message_id" class="form-control" id="messageId">
              <input type="hidden" name="modal" value="" class="form-control" id="modalError">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                <label for="subject">Subject</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" id="message" name="message" placeholder="Message" cols="30"
                  rows="10"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-success">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $('#modalError').val($('#replyModal').attr('id'));
    
  </script>
  <%- include('./includes/admin-footer') %>