<%- include('./includes/admin-header') %>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap-5.2.0-dist/css/bootstrap5dataTables.min.css">
	<script type="text/javascript" language="javascript" src="/js/jquerydataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/bootstrap-5.2.0-dist/js/bootstrap5dataTables.min.js"></script>
	<script type="text/javascript">
	
    $(document).ready(function() {
	$('#tickets').DataTable(
    {
      "order": [[1, 'asc']],//order column in descending order.
          "columnDefs": [
            { "type": "date", "targets": [1] }//date column formatted like "03/23/2018 10:25:13 AM".
          ],
          "pageLength": 50,
          stateSave: true,
  stateSaveCallback: function(settings,data) {
      localStorage.setItem( 'DataTables_' + settings.sInstance, JSON.stringify(data) )
    },
  stateLoadCallback: function(settings) {
    return JSON.parse( localStorage.getItem( 'DataTables_' + settings.sInstance ) )
    }
        }
  );
} );
</script>
<style>
   .fa-copy{
        /* display: none; */
        color: #6dbd28;
      }
      .reference:hover .fa-copy{
        display: block;
      }
      @media print {
        body {
        orientation: landscape;
      }
      .navbar{
        visibility: hidden;
      }
      #table, #table * {
        orientation: landscape;
        visibility: visible;
      }
      #table {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
</style>
</head>

    <section class="section container dashboard mt-5" >
      <div class="row">
                
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

            
              <div class="card-body">
                
                <div class="row">
                  <div class=" col-md-10"><h5 class="card-title">Students</h5></div>
                    <div class=" col-md-2 mt-3"><button class="btn btn-sm btn-primary mb-3" onclick="window.print()" >Print</button></div>                  
                </div>                    
                                    
                  
                <table class="table" id="tickets">
                  <thead>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Ticket Type</th>
                    <th>Ticket NUmber</th>
                    <th>Payment Status</th>
                    <th>Reference No</th>
                    <th>Date</th>
                    <th>Delete</th>
                  </thead>
                  <tbody>
                      <% for(const student of students ) {%>                          
                            <td><%= student.id %></td>
                            <td><%= student.full_name %></td>
                            <td><%= student.student_email %></td>
                            <td><%= student.phone %></td>
                            <td><%= student.type %></td>
                            <td><%= student.ticket_no %></td>
                            <td>
                              <%= student.payment_status %>
                            </td>
                            <td class="reference">
                              <span id="reference<%= student.id %>"><%= student.reference_no %></span>
                                <% if (student.reference_no !== 'failed' && student.reference_no != null) { %>
                                  <i class="fa fa-copy"
                                    onclick="copyToClipboard('#reference<%= student.id %>'); flash('success', 'Copied Reference')"
                                    style="font-size: 15px; cursor: pointer;"></i>
                                  <% } %>
                            </td>
                          <td><%= (student.created_at).toDateString() %></td>
                          <td><a href="/admin/delete-student/<%= student.id %>"><i class="bi bi-trash text-danger"></i></a></td>
                          </tr>
                        <% } %>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

            </div>

    </section>

  </main><!-- End #main -->
  
<!-- table -->
  
<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  };

</script>

<%- include('./includes/admin-footer') %>
      
