<%- include('./includes/admin-header') %>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap-5.2.0-dist/css/bootstrap5dataTables.min.css">
	<script type="text/javascript" language="javascript" src="/js/jquerydataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/bootstrap-5.2.0-dist/js/bootstrap5dataTables.min.js"></script>
	<script type="text/javascript">
	
    $(document).ready(function() {
	$('#tickers').DataTable(
    {
          stateSave: true,
  stateSaveCallback: function(settings,data) {
      localStorage.setItem( 'DataTables_' + settings.sInstance, JSON.stringify(data) )
    },
  stateLoadCallback: function(settings) {
    return JSON.parse( localStorage.getItem( 'DataTables_' + settings.sInstance ) )
    }
        }
  );
} );
</script>
<style>
  ::placeholder{
   font-size: 15.8px;
   text-decoration: underline;
   text-decoration-color: blue;
  }
</style>
</head>

    <section class="section container dashboard mt-5" >
      <div class="row">
                
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

            
              <div class="card-body">
                
                <div class="row">
                  <div class=" col-md-10"><h5 class="card-title">Tickets</h5></div>
                  <div class=" col-md-2 mt-3"><button class="btn btn-sm btn-primary mb-3" data-bs-target="#addTicketModal" data-bs-toggle="modal" >Add Ticket</button></div>
                  
                </div>                    
                  
                <table class="table table-borderless" id="tickers">
                  <thead>
                    <th>Name</th>
                    <th>Table</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </thead>
                  <tbody>
                      <% for(const ticket of tickets ) {%>
                          <tr>
                            <!-- <th scope="row">
                              <%# if (ticket.passport) { %>
                                  <img src="/<%# ticket.passport %>" alt="">
                              <%# } else{%>
                              <img src="/img/cat.png" alt="">
                              <%# } %> 
                          </th> -->
                            <td><%= ticket.name %></td>
                            <% if (ticket.tables) { %>
                              <td><%= ticket.table %></td>
                            <% } else{%>
                              <td>No Table</td>
                            <% } %>
                            <td><%= ticket.price.toLocaleString('en-Ng',{style:'currency', currency:'NGN'})%></td>
                            <td><a href="/admin/edit-ticket/<%= ticket.id %>"><i class="bi bi-pen-fill text-primary"></i></a></td>
                            <td><a href="/admin/delete-ticket/<%= ticket.id %>"><i class="bi bi-trash text-danger"></i></a></td>
                          </tr>
                        <% } %>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

            </div>



    </section>
    <section class="section container dashboard mt-5 mb-5" >
      <div class="row">
                
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

            
              <div class="card-body">
                
                <div class="row">
                  <div class=" col-md-10"><h5 class="card-title">Tables</h5></div>
                  <div class=" col-md-2 mt-3"><button class="btn btn-sm btn-primary mb-3" data-bs-target="#addTableModal" data-bs-toggle="modal" >Add Table</button></div>
                  
                </div>                    
                  
                <table class="table table-borderless" id="tickers">
                  <thead>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </thead>
                  <tbody>
                      <% for(const table of tables ) {%>
                          <tr>
                            <td><%= table.name %></td>
                            <td><%= table.price.toLocaleString('en-Ng',{style:'currency', currency:'NGN'}) %></td>
                            <td><a href="/admin/edit-table/<%= table.id %>"><i class="bi bi-pen-fill text-primary"></i></a></td>
                            <td><a href="/admin/delete-table/<%= table.id %>"><i class="bi bi-trash text-danger"></i></a></td>
                          </tr>
                        <% } %>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

            </div>



    </section>

  </main><!-- End #main -->
  <div class="modal fade" id="addTicketModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="addTicketModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTicketModalLabel">Add Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      <form action="/admin/add-ticket/" method="post">
        <input type="hidden" name="modal" value="" class="form-control" id="modalError">
        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-3 col-form-label dark2">Name</label>
            <div class="col-md-8 col-lg-9">
                <input type="text" class="form-control" id="name"  name="name" placeholder="Enter Name(Name of the ticket e.g regular,vip...)">
            </div>
          </div>
        <div class="row mb-3">
            <label for="Price" class="col-md-4 col-lg-3 col-form-label dark2">Price</label>
            <div class="col-md-8 col-lg-9">
                <input type="number" class="form-control" id="Price"  name="price" placeholder="Enter Price(Optional)">
            </div>
          </div>
          <div class="row mb-3">
            <label for="table" id="tableLabel" class="col-md-4 mt-3 d-none col-lg-3 col-form-label ">Table</label>
            <div class="col-md-8 col-lg-9 d-none" id="tables">
              <select id="table" class="form-select" name="tables" size="4" multiple>
                <option disabled>Select Table</option>
                <% for(const table of tables) {%> 
                <option value="<%= table.name %>" ><%= table.name %></option>
                <% } %> 
              </select>  
            </div>
          </div>
           <div class=" d-flex flex-wrap justify-content-center">
            <div class="form-group">
                <a  onclick="addTable()" class="btn btn-sm btn-primary" id="addTable">Add Table</a>
            </div>
            <div class="form-group ms-4 d-none" id="removeTable">
                <a type="button" onclick="removeTable()" class="btn btn-sm btn-primary">Remove Table</a>
            </div>
            </div>
          <div class="text-end mt-5">
              <button type="submit" class="btn  btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- table -->
  <div class="modal fade" id="addTableModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="addTableModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTableModalLabel">Add Table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      <form action="/admin/add-table/" method="post">
        <input type="hidden" name="modal" value="" class="form-control" id="modalError2">
        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-3 col-form-label dark2">Name</label>
            <div class="col-md-8 col-lg-9">
                <input type="text" class="form-control" id="name"  name="name" placeholder="Enter Name(Name of the table e.g gold,silver...)">
            </div>
          </div>
        <div class="row mb-3">
            <label for="Price" class="col-md-4 col-lg-3 col-form-label dark2">Price</label>
            <div class="col-md-8 col-lg-9">
                <input type="number" class="form-control" id="Price"  name="price" placeholder="Enter Price">
            </div>
          </div>
          <div class="text-end mt-5">
              <button type="submit" class="btn  btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  function addTable() {
    $('#tables').removeClass('d-none')
    $('#removeTable').removeClass('d-none')
    $('#tableLabel').removeClass('d-none')
  }
  function removeTable() {
      $('#tableLabel').addClass('d-none')
        $("#tables").addClass('d-none')
    }
  $('#modalError').val($('#addTicketModal').attr('id'))
  $('#modalError2').val($('#addTableModal').attr('id'))
</script>
<%- include('./includes/admin-footer') %>
      